{{#contentFor "title"}}
Music
{{/contentFor}}
<div class="row">
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item active">Most recent music</li>
            {{#each recent}}
            <li class="list-group-item">{{artist}} - {{song}} ({{ago}})</li>
            {{/each}}
        </ul>
    </div>
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item active">Top songs</li>
            {{#each recent}}
            <li class="list-group-item">{{artist}} - {{song}} ({{ago}})</li>
            {{/each}}
        </ul>
    </div>
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item active">Top artist</li>
            {{#each topartists}}
            <li class="list-group-item">{{artist}} - {{song}} ({{ago}}) <span class="badge">14</span></li>
            {{/each}}
            {{topartists.name}}

            {{topartists.topartists.name}}
        </ul>
    </div>
</div>